PythonBootcamp.code-workspace
_Notes_Resources/13.6_hillside_for_PIL_example.jpg
Output/cropped_im.jpg
Output/gauzian.jpg
Output/greyscale.jpg
.gitignore
14_Stacks/balanced..py
26_Bonus_Material/1_CurveImage/.idea/inspectionProfiles/profiles_settings.xml
26_Bonus_Material/1_CurveImage/.idea/workspace.xml
26_Bonus_Material/1_CurveImage/.idea/vcs.xml
26_Bonus_Material/1_CurveImage/.idea/modules.xml
26_Bonus_Material/1_CurveImage/.idea/misc.xml
26_Bonus_Material/1_CurveImage/.idea/1_CurveImage.iml
